<%= form_with(model: work_place, local: true) do |form| %>
  <% if work_place.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(work_place.errors.count, "error") %> prohibited this work_place_item from being saved:</h2>

      <ul>
      <% work_place.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <!-- Fieldset informations -->
      <fieldset>
        <div class="row">
          <div class="prescription-items">

            <table class="table  responsive ">
              <thead>
                <tr role="row">
                
                  <th>Structure</th>
                   <th>Prix de consultation</th>
                </tr>
              </thead>
                <tbody class="items">
                  <%= form.fields_for :work_place_items do |item| %>
                      <%= render 'work_place_item_fields', f: item %>
                  <% end %>
                </tbody>
            </table>
          
          </div> 
        </div>
        <div class="row">
          <div class="col-md-12">
            <div class="form-group">
              <%= link_to_add_association raw('<i class="fa fa-plus" aria-hidden="true"></i> Ajouter'), form, :work_place_items, class: 'btn btn-primary', data: { association_insertion_node: '.items', association_insertion_method: :append } %>
            </div>
          </div>
      </div>
    </div>
  </fieldset>

  <div class="row">
    <div class="col-md-12">
      <div class="form-group">
        <%= form.submit class: "btn btn-primary btn-block" %>
      </div>
    </div>
  </div>
<% end %>
