<p id="notice"><%= notice %></p>

<h1>Work Places</h1>

<table>
  <thead>
    <tr>
      <th>User</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @work_places.each do |work_place| %>
      <tr>
        <td><%= work_place.user %></td>
        <td><%= link_to 'Show', work_place %></td>
        <td><%= link_to 'Edit', edit_work_place_path(work_place) %></td>
        <td><%= link_to 'Destroy', work_place, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Work Place', new_work_place_path %>
