<p id="notice"><%= notice %></p>

<h1>Order Cards</h1>

<table>
  <thead>
    <tr>
      <th>First name</th>
      <th>Last name</th>
      <th>Country</th>
      <th>City</th>
      <th>Address</th>
      <th>Phone number</th>
      <th>Card type</th>
      <th>Quantity</th>
      <th>Status</th>
      <th>Note</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @order_cards.each do |order_card| %>
      <tr>
        <td><%= order_card.first_name %></td>
        <td><%= order_card.last_name %></td>
        <td><%= order_card.country %></td>
        <td><%= order_card.city %></td>
        <td><%= order_card.address %></td>
        <td><%= order_card.phone_number %></td>
        <td><%= order_card.card_type %></td>
        <td><%= order_card.quantity %></td>
        <td><%= order_card.status %></td>
        <td><%= order_card.note %></td>
        <td><%= link_to 'Show', order_card %></td>
        <td><%= link_to 'Edit', edit_order_card_path(order_card) %></td>
        <td><%= link_to 'Destroy', order_card, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Order Card', new_order_card_path %>
