<p id="notice"><%= notice %></p>

<p>
  <strong>Uid:</strong>
  <%= @identity_type.uid %>
</p>

<p>
  <strong>Name:</strong>
  <%= @identity_type.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @identity_type.description %>
</p>

<p>
  <strong>Status:</strong>
  <%= @identity_type.status %>
</p>

<p>
  <strong>User:</strong>
  <%= @identity_type.user %>
</p>

<%= link_to 'Edit', edit_identity_type_path(@identity_type) %> |
<%= link_to 'Back', identity_types_path %>
