<% @watch_lists.each do |watch_list| %>
    <tr>
    <td><%= watch_list.uid %></td>
    <td><%= watch_list.serial_number %></td>
    <td><%= watch_list.full_name %></td>
    <td><%= watch_list.program_list %></td>
    <td><%= watch_list.office %></td>
    <td><%= watch_list.additional_information %></td>
    <td><%= watch_list.party_country %></td>
    <td><%= watch_list.watchlist_populated_author %></td>
   
    </tr>
<% end %>