
	

<!-- HERO SECTION -->
<div class="section-about">
	<%= render "home/partials/hero" %>
</div>

<!-- CALL SECTION -->
<div class="section-call-action">
	<%= render "home/partials/call_action" %>
</div>


<!-- FEATURED SECTION -->
<div class="section-our-products">
	<%= render "home/partials/our_products" %>
</div>





<!-- FEATURED SECTION -->
<div class="section-medicaments_or_analyses">
	<%= render "home/partials/medicaments_or_analyses" %>
</div>

<!-- FEATURED SECTION -->
<div class="section-our-values">
	<%= render "home/partials/our_values" %>
</div>

<!-- ABOUT SECTION 
<div class="section-about">
	<%= render "home/partials/about" %>
</div>
-->


<!-- FEATURED SECTION -->
<div class="section-features">
	<%= render "home/partials/features" %>
</div>



<!-- PARTNERS SECTION -->
<div class="section-partners">
	<!-- <%= render "home/partials/partners" %> -->
</div>

<!-- PARTNERS SECTION -->
<div class="section-about">
	<%= render "home/partials/about" %> 
</div>

<!-- PARTNERS SECTION -->
<div class="section-partners">
	 <%= render "home/partials/partners" %> 
</div>