<%= form_with(model: contact, local: false) do |form| %>
  <div class="modal-body">
  
    <ul class="errors">
    </ul>
 
          
          <%= form.hidden_field :contact_book_id %>
        

    <div class="row">

      <div class="col-md-4">

        <div class="form-group">
          <%= form.label :first_name , "Prénom"%>
          <%= form.text_field :first_name, class: "form-control", placeholder: "Prénom" %>
        </div>

      </div>

      <div class="col-md-4">
        <div class="form-group">
          <%= form.label :last_name, "Nom" %>
          <%= form.text_field :last_name, class: "form-control" %>
        </div>
      </div>

      <div class="col-md-4">

        <div class="field">
          <%= form.label :gender, "Genre" %>
          <%= form.select :gender, GENDERS, {prompt: "Sélectionner"}, class: "form-control", style: "width: 100%" %>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-4">
        <div class="form-group">
          <%= form.label :main_phone_number, "Téléphone principal", class: "required" %>
          <%= form.text_field :main_phone_number , class: "form-control", placeholder: "Téléphone principal", required: true %>
        </div>
      </div>

      

      <div class="col-md-4">
        <div class="form-group">
          <%= form.label :country, "Pays" %>
          <%= form.text_field :country, class: "form-control", placeholder: "Pays" %>
        </div>
      </div>

      <div class="col-md-4">

        <div class="form-group">
          <%= form.label :city, "Ville" %>
          <%= form.text_field :city, class: "form-control", placeholder: "Ville" %>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-6">
        <div class="form-group">
          <%= form.label :address, "Adresse" %>
          <%= form.text_field :address, class: "form-control", placeholder: "Adresse" %>
        </div>
      </div>

      <div class="col-md-6">

        <div class="form-group">
          <%= form.label :email %>
          <%= form.email_field :email, class: "form-control", placeholder: "Email" %>
        </div>
      </div>

    </div>

    <div class="row">
      <div class="col-md-12">
        <div class="form-group">
          <%= form.label :notes %>
          <%= form.text_area :notes, class: "form-control", placeholder: "Notes" %>
        </div>
      </div>
    </div>

  </div><!-- modal body -->
     <div class="modal-footer">
            <%= link_to "Annuler", "#", class: "btn btn-secondary tx-mont tx-medium tx-11 tx-uppercase pd-y-12 pd-x-25 tx-spacing-1", data: {dismiss: "modal"} %>
            <%= form.submit "Enregistrer", class: "btn btn-primary tx-mont tx-medium tx-11 tx-uppercase pd-y-12 pd-x-25 tx-spacing-1",  "data-loading-text"=>"Loading...", autocomplete: "off" %>
    </div>
<% end %>
