<p id="notice"><%= notice %></p>

<p>
  <strong>Uid:</strong>
  <%= @card_type.uid %>
</p>

<p>
  <strong>Name:</strong>
  <%= @card_type.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @card_type.description %>
</p>

<p>
  <strong>Status:</strong>
  <%= @card_type.status %>
</p>

<p>
  <strong>User:</strong>
  <%= @card_type.user %>
</p>

<%= link_to 'Edit', edit_card_type_path(@card_type) %> |
<%= link_to 'Back', card_types_path %>
