<p id="notice"><%= notice %></p>

<p>
  <strong>Schedule:</strong>
  <%= @schedule_item.schedule %>
</p>

<p>
  <strong>Day:</strong>
  <%= @schedule_item.day %>
</p>

<p>
  <strong>Start time:</strong>
  <%= @schedule_item.start_time %>
</p>

<p>
  <strong>End time:</strong>
  <%= @schedule_item.end_time %>
</p>

<%= link_to 'Edit', edit_schedule_item_path(@schedule_item) %> |
<%= link_to 'Back', schedule_items_path %>
