<p id="notice"><%= notice %></p>

<h1>Structure Medicaments</h1>

<table>
  <thead>
    <tr>
      <th>Structure</th>
      <th>Medicament</th>
      <th>Price</th>
      <th>Status</th>
      <th>User</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @structure_medicaments.each do |structure_medicament| %>
      <tr>
        <td><%= structure_medicament.structure %></td>
        <td><%= structure_medicament.medicament %></td>
        <td><%= structure_medicament.price %></td>
        <td><%= structure_medicament.status %></td>
        <td><%= structure_medicament.user %></td>
        <td><%= link_to 'Show', structure_medicament %></td>
        <td><%= link_to 'Edit', edit_structure_medicament_path(structure_medicament) %></td>
        <td><%= link_to 'Destroy', structure_medicament, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Structure Medicament', new_structure_medicament_path %>
