<p id="notice"><%= notice %></p>

<p>
  <strong>Structure:</strong>
  <%= @structure_medicament.structure %>
</p>

<p>
  <strong>Medicament:</strong>
  <%= @structure_medicament.medicament %>
</p>

<p>
  <strong>Price:</strong>
  <%= @structure_medicament.price %>
</p>

<p>
  <strong>Status:</strong>
  <%= @structure_medicament.status %>
</p>

<p>
  <strong>User:</strong>
  <%= @structure_medicament.user %>
</p>

<%= link_to 'Edit', edit_structure_medicament_path(@structure_medicament) %> |
<%= link_to 'Back', structure_medicaments_path %>
