<%= form_with(model: work_place_item, local: true) do |form| %>
  <% if work_place_item.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(work_place_item.errors.count, "error") %> prohibited this work_place_item from being saved:</h2>

      <ul>
      <% work_place_item.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :work_place_id %>
    <%= form.text_field :work_place_id %>
  </div>

  <div class="field">
    <%= form.label :structure_id %>
    <%= form.text_field :structure_id %>
  </div>

  <div class="field">
    <%= form.label :profile_id %>
    <%= form.text_field :profile_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
