<p id="notice"><%= notice %></p>

<h1>Work Place Items</h1>

<table>
  <thead>
    <tr>
      <th>Work place</th>
      <th>Structure</th>
      <th>Profile</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @work_place_items.each do |work_place_item| %>
      <tr>
        <td><%= work_place_item.work_place %></td>
        <td><%= work_place_item.structure %></td>
        <td><%= work_place_item.profile %></td>
        <td><%= link_to 'Show', work_place_item %></td>
        <td><%= link_to 'Edit', edit_work_place_item_path(work_place_item) %></td>
        <td><%= link_to 'Destroy', work_place_item, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Work Place Item', new_work_place_item_path %>
