<p id="notice"><%= notice %></p>

<p>
  <strong>Work place:</strong>
  <%= @work_place_item.work_place %>
</p>

<p>
  <strong>Structure:</strong>
  <%= @work_place_item.structure %>
</p>

<p>
  <strong>Profile:</strong>
  <%= @work_place_item.profile %>
</p>

<%= link_to 'Edit', edit_work_place_item_path(@work_place_item) %> |
<%= link_to 'Back', work_place_items_path %>
