<!DOCTYPE html>
<html>
  <head>
    <title><%= "#{devise_title(controller_name)} - #{APPLICATION_NAME}"%></title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  	<div class="d-flex align-items-center justify-content-center bg-br-primary">
      <div class="login-wrapper wd-300 wd-xs-350 wd-xs-450 pd-25 mb5 mt5 bg-white rounded shadow-base">

			<%= render :partial => 'layouts/partials/flash_messages', :flash => flash %>
      <%= render 'layouts/partials/google_analytics' %>

			<%= yield %>
		</div>
	</div>
  </body>
</html>
